@page
@model BoardGameDB.Pages_Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if((await AuthorizationService.AuthorizeAsync(User, Policy.ReadWrite)).Succeeded)
{
<p>
    <a asp-page="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if((await AuthorizationService.AuthorizeAsync(User, Policy.ReadWrite)).Succeeded)
                {
                <span>|</span><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <span>|</span><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
