@page
@model BoardGameDB.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Complexity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Complexity)
        </dd>
        <dt class="col-sm-2">
            Players
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.MinimumPlayerCount)
            @if(Model.Game.MinimumPlayerCount != Model.Game.MaximumPlayerCount)
            {
                <span>-</span>
                @Html.DisplayFor(model => model.Game.MaximumPlayerCount)
            }
        </dd>
        <dt class="col-sm-2">
            Play Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.MinimumPlayTimeMinutes)
            @if(Model.Game.MinimumPlayTimeMinutes == Model.Game.MaximumPlayTimeMinutes)
            {
            }
            else
            {
                <span>-</span>
                @Html.DisplayFor(modelItem => Model.Game.MaximumPlayTimeMinutes)
            }            
            @if(Model.Game.MaximumPlayTimeMinutes == 1)
            {
                <span>Minute</span>
            }
            else
            {
                <span>Minutes</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PictureUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.PictureUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.RulesUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.RulesUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.RulesVideoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.RulesVideoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.BoardGameGeekId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.BoardGameGeekId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Mechanics)
        </dt>
        <dd class="col-sm-10">
            @foreach(var mechanic in @Model.Game.Mechanics)
            {
            <a class="btn btn-secondary" asp-page="/Mechanics/Details" asp-route-id="@mechanic.Id">@mechanic.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Categories)
        </dt>
        <dd class="col-sm-10">
            @foreach(var Category in @Model.Game.Categories)
            {
            <a class="btn btn-secondary" asp-page="/Categories/Details" asp-route-id="@Category.Id">@Category.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PlayStyles)
        </dt>
        <dd class="col-sm-10">
            @foreach(var playStyle in @Model.Game.PlayStyles)
            {
            <a class="btn btn-secondary" asp-page="/PlayStyles/Details" asp-route-id="@playStyle.Id">@playStyle.Name</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
