@page
@model BoardGameDB.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Complexity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MinimumPlayTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MaximumPlayTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MinimumPlayerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MaximumPlayerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].RulesUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].RulesVideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].BoardGameGeekUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumPlayTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumPlayerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulesUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulesVideoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardGameGeekUrl)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
