@page
@model BoardGameDB.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Complexity)
            </th>
            <th>
                Player Count
            </th>
            <th>
                Play Time
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplexityString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayerCount)
                @if(item.MinimumPlayerCount == item.MaximumPlayerCount)
                {
                    <span>Player</span>
                }
                else
                {
                    <span>-</span>
                    @Html.DisplayFor(modelItem => item.MaximumPlayerCount)
                    <span>Players</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayTimeMinutes)
                @if(item.MinimumPlayTimeMinutes == item.MaximumPlayTimeMinutes)
                {
                }
                else
                {
                    <span>-</span>
                    @Html.DisplayFor(modelItem => item.MaximumPlayTimeMinutes)
                }            
                @if(item.MinimumPlayTimeMinutes == 1)
                {
                    <span>Minute</span>
                }
                else
                {
                    <span>Minutes</span>
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
